:root {
    --hefame-color   : #ecd033;
    --data-text-color: #70ad1c;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    margin     : 0;
    padding    : 0;
    overflow   : hidden;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--light-blue);
}

a:hover {
    color: var(--light-blue);
}

a:active {
    color: var(--light-blue);
}

@import './styles/app';